<div class="col-xl d-none d-xl-flex pricing-container">
  <section>
    <h6 class="{{.component.title}}-component price-title">{{.component.title}}</h6>
    <p class="text">Starting at</p>
    <h1 class="price">{{.component.price}}</h1>
    <p class="small">Per host, per month*</p>
    <p class="description">{{.component.description}}</p>
    {{range .component.bullets}}
    <li>- {{.}}</li>
    {{end}}
  </section>
  <span class="{{.component.title}}-component see-details">See Details</span>
</div>