<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-card card carousel-inner">
    <div class="card-body carousel-item active">
      <h5 class="card-title carousel-title">Observability</h5>
      <div class="nav-row">
        <p class="card-text carousel-text">With turn-key integrations, Datadog seamlessly aggregates metrics and events
          across the full devops stack.</p>

        <p class="card-text read-more">Read More</p>
        <img class="carousel-image" src="../../images/carousel-image1.png" alt="carousel-img">
      </div>
    </div>

    <!-- <div class="card-body carousel-item">
      <h5 class="card-title carousel-title">SomethingElse</h5>
      <div class="nav-row">
        <p class="card-text carousel-text">Words after words. Business data. big data</p>
        <p class="card-text read-more">Read More</p>
        <img class="carousel-image" src="../../images/carousel-image2.png" alt="carousel-img">
      </div>
    </div> -->

  </div>
  <a class="d-flex align-items-start my-next-arrow-area carousel-control-next" href="#carouselExampleControls"
    role="button" data-slide="next">
    <img src="../../images/carousel-arrow.svg" aria-hidden="true" alt="next-arrow" />
    <span class="sr-only">Next</span>
  </a>
</div>