<div class="carousel-card card">
  <div class="card-body">
    <h5 class="card-title carousel-title">Observability</h5>
    <div class="nav-row">
      <p class="card-text carousel-text">With turn-key integrations, Datadog seamlessly aggregates metrics and events across the
        full
        devops stack.
      </p>
      <img src="../../images/carousel-arrow.svg" alt="next-arrow" />
    </div>
    <p class="card-text read-more">Read More</p>
  </div>
  <img class="carousel-image" src="../../images/carousel-image1.png" alt="carousel-img">
</div>