<div class="col footer">
  <div class="row">
    <div class="col-4 my-col free-trial-area">
      <button class="free-trial-btn">Free Trial</button>
      <h6>&#169; Datadog 2017</h6>
    </div>
    <div class="col-4 my-col">
      <h5 class="footer-title">Product</h5>
      <div class="row">
        <div class="col my-col footer-list">
          <li>Features</li>
          <li>APM</li>
          <li>Integrations</li>
          <li>Alerts</li>
          <li>API</li>
          <li>Pricing</li>
        </div>
        <div class="col my-col footer-list">
          <li>Documentation</li>
          <li>Support</li>
          <li>Resources</li>
          <li>Security</li>
        </div>
      </div>
    </div>
    <div class="col-2 my-col">
      <h5 class="footer-title">About</h5>
      <div class="row">
        <div class="col my-col footer-list">
          <li>Contact Us</li>
          <li>Partners</li>
          <li>Press</li>
          <li>Our Team</li>
          <li>Careers</li>
          <li>Legal</li>
        </div>
      </div>
    </div>
    <div class="col-2 my-col">
      <h5 class="footer-title">Social</h5>
      <div class="row">
        <div class="col my-col footer-list">
          <li>Blog</li>
          <li>Espanol</li>
          <li>Japanese</li>
          <li>Instagram</li>
          <li>Twitter</li>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col my-col terms-privacy">
      <h6>Terms | Privacy | Cookies</h6>
    </div>
  </div>
</div>