{{$apm := "apm"}}
{{$infra := "infrastructure"}}
<!-- conditionally reordering the mapped components/cards -->
<div class="feature-card card bg-{{.component.title}} text-white {{if eq .component.title $apm }} order-1 {{else if eq .component.title $infra}} order-2 {{else}} order-3 {{end}}">
  <img class="card-img custom-overlay feature-card" src="../../images/{{.component.title}}-image.png" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">{{.component.title}}</h5>
    <p class="card-text">{{.component.description_two}}</p>
  </div>
</div>