<div class="row small-row-middle align-items-center">
  <div class="col-lg-6 row-padding my-column">
    {{range .Params.products}}

    {{if .apm }}
    {{partial "apm_feature.html" (dict "apm" .apm )}}
    {{end}}

    {{end}}
  </div>
  <div class="col-lg-6 row-padding my-column">
    {{range .Params.products}}

    {{if .infrastructure }}
    {{partial "infrastructure_feature.html" (dict "infrastructure" .infrastructure )}}
    {{end}}

    {{end}}
  </div>
</div>
<div class="row large-row-middle">
  <div class="col-lg-6 row-padding my-column">
    <div class="row small-row-middle align-items-center">
      <div class="col my-column">
        {{range .Params.products}}

        {{if .logs_management }}
        {{partial "logs_management_feature.html" (dict "logs_management" .logs_management )}}
        {{end}}

        {{end}}
      </div>
    </div>
    <div class="row large-customer-feature-row align-items-center">
      <div class="col my-column">
        {{partial "customer_feature" .}}
      </div>
    </div>
  </div>
  <div class="col-lg-6 row-padding my-column">
    <div class="row medium-carousel-feature-row align-items-center">
      <div class="col my-column">
        {{partial "carousel_feature" .}}
      </div>
    </div>

  </div>
</div>