<div id="accordion" class="d-flex justify-content-center d-xl-none pricing-container-accoridian">
  <div class="card card-no-border align-items-center">
    <div class="card-header my-card-header" id="heading{{.product}}">
      <button class="btn collapsed my-hover-btn" data-toggle="collapse" data-target="#{{.product}}"
        aria-expanded="false" aria-controls={{.product}}>
        <h6 class="{{.component.title}}-component price-title">{{.component.title}}</h6>
        <p class="text my-hover-btn">Starting at</p>
        <h1 class="price my-hover-btn">{{.component.price}}</h1>
        <p class="small my-hover-btn">Per host, per month*</p>
      </button>
    </div>

    <div id="{{.product}}" class="collapse" aria-labeledby="heading{{.product}}"
      data-parent="#accordion">
      <div class="card-body d-flex flex-column justify-content-between my-card-body">
        {{range .component.bullets}}
        <li>- {{.}}</li>
        {{end}}
        <span class="{{.component.title}}-component see-details">See Details</span>
      </div>
    </div>
  </div>
</div>