<div class="col-auto my-column side-bar">
  <img src="../../images/datadog-logo.svg" alt="data-dog-logo">
  <nav class="nav flex-column">
    <a class="nav-link nav-item" href="#">PRODUCT</a>
    <a class="nav-link nav-item" href="#">DOCS</a>
    <a class="nav-link nav-item" href="#">PRICING</a>
    <a class="nav-link nav-item" href="#">CUSTOMERS</a>
    <a class="nav-link nav-item" href="#">ABOUT</a>
    <a class="nav-link nav-item" href="#">BLOG</a>
  </nav>
  <a class="nav-link login-item" href="#">Login</a>
</div>