
<div id="accordian" class="col-md-auto d-md-none my-column side-bar top-bar">
  <div class="d-flex justify-content-between align-items-center logo-hamburger-bar">
    <img src="../../images/datadog-logo.svg" alt="data-dog-logo">
    <!-- <img src="../../images/datadog-logo-purple.png" alt="data-dog-logo"> -->
    <!-- for hamburger menu-icon -->
    <div class="hamburger-menu-toggler collapsed" data-toggle="collapse" data-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample">
      <span class="sr-only">Toggle Menu</span>
      <div class="hamburger-menu-bar"></div>
      <div class="hamburger-menu-bar"></div>
      <div class="hamburger-menu-bar"></div>
    </div>
  </div>
  <nav id="collapseExample" class="nav hamburger-nav flex-md-column justify-content-between collapse" data-parent="#accordion">
    <a class="nav-link nav-item hamburger-menu-item" href="#">PRODUCT</a>
    <a class="nav-link nav-item hamburger-menu-item" href="#">DOCS</a>
    <a class="nav-link nav-item hamburger-menu-item" href="#">PRICING</a>
    <a class="nav-link nav-item hamburger-menu-item" href="#">CUSTOMERS</a>
    <a class="nav-link nav-item hamburger-menu-item" href="#">ABOUT</a>
    <a class="nav-link nav-item hamburger-menu-item" href="#">BLOG</a>
    <a class="nav-link nav-item hamburger-menu-item" href="#">LOGIN</a>
  </nav>
</div>