.carousel-card{
  height: 585px;
  padding: 0;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;

  & .carousel-item{
    margin: 0;

    & .carousel-title{
      color: $primary-color;
    }
    & .carousel-nav-row{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 95%;

      & .carousel-text{
        width: 85%;
        text-align:left;
      }
      & .read-more{
        font-size: 18px;
        border-bottom: solid 1px;
        width: max-content;
        color: $primary-color;
        cursor: pointer;
        transition: all .2s ease;
      
        @include hoverStyle($primary-color)
      }
      & .carousel-image{
        width: 85%;
      }
      & .next-img-cut{
        margin-left: 30px
      }
    }
    
  }
} 
.my-next-arrow-area{
  padding-top: 100px;
  background-color: #F5F5F5;
}

// leave here. fixes transition on carousel animation. 
// class name applied briefly to .card-body / .carousel-item on transition to next card on carousel.
.carousel-item-left{
  display: none;
}


