.carousel-card{
  height: 585px;
  padding: 0;
  background-color: #F5F5F5;
}
.carousel-title{
  color: $primary-color;
}
.nav-row{
  display: flex;
  justify-content: space-between;
}
.carousel-text{
  width:  85%;
}
.read-more{
  font-size: 18px;
  border-bottom: solid 1px;
  width: max-content;
  color: $primary-color;
}
.carousel-image{
  padding: 30px;
  width: 85%;
}
