.customer-card{
  height: 736px;
  padding-left: 15px;
  @media(max-width: 992px){
    height: auto;
  }
}
.customer-block{
  height: 186px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.airbnb-block{
  background-color: #FF5A5F;
}
.peloton-block{
  background-color: #000;
} 
.adroll-block{
  background-color: #F5F5F5;
}
.evernote-block{
  background-color: #292929;
}
.samsung-block{
  background-color: #1428A0;
}
.nginx-block{
  background-color: #00AA4E;
}
.pagerduty-block{
  background-color: #5DBD5F;
}
.wholefoods-block{
  background-color: #000
}
.att-block{
  background-color: #00A8E0;
}
