@mixin seeDetail(){
  border-bottom: solid 1px;
  width: max-content;
  cursor: pointer;
  transition: all .2s ease;
}
@mixin hoverStyle($color){
  &:hover{
    background-color: $color;
    color: white;
    border: 0px solid $color ;
    border-radius: 3px;
    padding: 5px;
  }
}

.price-container-wrapper{
  border: #C7C7C7 solid 1px;
  padding: 0px;
  @media(max-width: 650px){
    border: none;
  }
}
.pricing-container{
  height: 500px;
  padding: 24px 15px;
  background-color: $pricing-bg-color;
  border-right: #C7C7C7 solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing-container-accordian{
  display: none;
  @media(max-width: 1200px){
    display: flex;
    background-color: $pricing-bg-color;
    width: 33.33%;
  }
  @media(max-width: 650px){
    display: none;
  }
}
.pricing-container-smallview{
  display: none;
  @media(max-width: 650px){
    display: block
  }
}
.my-card-header{
  background-color: $pricing-bg-color;

  @media(max-width: 795px){
    padding: 15px
  }
}
.my-card-body{
  height: 233px; // setting the accordian card max-height
  @media(max-width: 992px){
    height: 300px
  }
}
.card-no-border{
  border: none;
  background-color: $pricing-bg-color;
}
.my-hover-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover{
    .price-arrow-down{
      border-color: #979797;
    }
    color: #979797
  }
}
.price-title{
  font-size: 12px;
  letter-spacing: 0.342857px;
  text-transform: uppercase;
  margin-bottom: 18px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}
.infrastructure-component{
  color: $primary-color-dk;
}
.apm-component{
  color: $secondary-color;
}
.management-component{
  color: $teritary-color;
}
.infrastructure-component.see-details{
  @include seeDetail();
  @include hoverStyle($primary-color-dk)

}
.apm-component.see-details{
  @include seeDetail();
  @include hoverStyle($secondary-color)

}
.management-component.see-details{
  @include seeDetail();
  @include hoverStyle($teritary-color)
}

.text{
  font-size: 16px;
  margin-bottom: 6px;
}
.price{
  font-size: 48px;
  margin-bottom: 16px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}
.small{
  font-size: 14px;
  margin-bottom: 18px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}
.description{
  font-size: 16px;
  margin-bottom: 18px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}
li{
  list-style: none;
  font-size: 16px;
  padding-bottom: 8px;
}


.price-arrow-down{
  border-right: solid black;
  border-bottom: solid black;
  width: 20px;
  height: 20px;
  margin-bottom: 6px;
  text-align: center;
  transform: rotate(45deg); 
  transition: all .25s;
}