.main-top{
  height: $main-top-height;
  border: green solid 1px;
}
.main-top-left{
  // padding: 0 30px 0 0;
  border: green solid 1px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media(max-width: 1200px){
    height: 250px
  }
}
.main-top-right{
  padding: 0 30px;
  height: 500px;
  
  @media(max-width: 1200px){
    height: 250px
  }
}
h1{
  font-size: 48px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin-bottom: 18px
}
h3{
  font-size: 28px;
}
.free-btn{
  border-radius: 0px;
  border: 3px solid $primary-color ;
  color: $primary-color;
  font-size: 24px;
  height: 80px;
  transition: all .2s ease;
  &:hover{
    background-image: linear-gradient(45deg,#c024b6 0%,#3023ae 100%);;
    border: 0px solid $primary-color ;
  }
}
