.price-container-wrapper{
  border: #C7C7C7 solid 1px;
  padding: 0px;
}

.pricing-container{
  height: 500px;
  padding: 24px 15px;
  background-color: $pricing-bg-color;
  border-right: #C7C7C7 solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing-container-accoridian{
  background-color: $pricing-bg-color;
  width: 33.33%;
}
.my-card-header{
  background-color: $pricing-bg-color;
}
.my-card-body{
  height: 233px; // setting the accordian card max-height
  @media(max-width: 992px){
    height: 300px
  }
}
.card-no-border{
  border: none;
  background-color: $pricing-bg-color;
}
.my-hover-btn{
  &:hover{
    color: #979797
  }
}
.price-title{
  font-size: 12px;
  letter-spacing: 0.342857px;
  text-transform: uppercase;
  margin-bottom: 18px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}
.infrastructure-component{
  color: $primary-color-dk,
}
.apm-component{
  color: $secondary-color;
}
.management-component{
  color: $teritary-color;
}
.text{
  font-size: 16px;
  margin-bottom: 6px;
}
.price{
  font-size: 48px;
  margin-bottom: 16px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}
.small{
  font-size: 14px;
  margin-bottom: 18px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}
.description{
  font-size: 16px;
  margin-bottom: 18px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}
li{
  list-style: none;
  font-size: 16px;
  padding-bottom: 8px;
}
.see-details{
  border-bottom: solid 1px;
  width: max-content
}