.main-top{
  height: $main-top-height
}
.main-top-left{
  padding: 0 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1{
  font-size: 48px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin-bottom: 18px
}
h3{
  font-size: 28px;
}
.free-btn{
  border-radius: 0px;
  border: 3px solid $primary-color ;
  color: $primary-color;
  box-sizing: border-box;
  font-size: 24px;
  height: 80px
}
