@mixin seeDetail(){
  border-bottom: solid 1px;
  width: max-content;
  cursor: pointer;
  transition: all .2s ease;
}
@mixin hoverStyle($color){
  &:hover{
    background-color: $color;
    color: white;
    border: 0px solid $color ;
    border-radius: 3px;
    padding: 5px;
  }
}
// Mixins above â«

.price-container-wrapper{
  border: #C7C7C7 solid 1px;
  padding: 0;
  margin: 0;
  @media(max-width: 650px){
    border: none;
  }
}

// applied >=1200px width
.pricing-container{
  height: 500px;
  padding: 24px 15px;
  background-color: $pricing-bg-color;
  border-right: #C7C7C7 solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
// applied 650px < 1200px width
.pricing-container-accordian{
  display: none;
  @media(max-width: 1199px){
    display: flex;
    background-color: $pricing-bg-color;
    width: 33.33%;
  }
  @media(max-width: 650px){
    display: none;
  }

  & .card-no-border{
    border: none;
    background-color: $pricing-bg-color;
  }
}

// applied <=650px width
.pricing-container-accordion-smallview{
  display: none;
  @media(max-width: 650px){
    display: block
  }
}

.my-card-header{
  background-color: $pricing-bg-color;

  @media(max-width: 850px){
    padding: 15px 0;
  }
}
.my-card-body{
  height: 233px; // setting the accordian card max-height
  @media(max-width: 992px){
    height: 300px
  }

  & li{
    list-style: none;
    font-size: 16px;
    padding-bottom: 8px;
  }
}

.price-hover{
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover{
    .price-arrow{
      border-color: $price-hover-color;
    }
    color: $price-hover-color
  }

  &:not(.collapsed){
    .price-arrow{
      transform: rotate(225deg);
    }
  }
}

.price-title{
  font-size: 12px;
  letter-spacing: 0.342857px;
  text-transform: uppercase;
  margin-bottom: 18px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}

.infrastructure-component{
  color: $primary-color-dk;

  &.see-details{
    @include seeDetail();
    @include hoverStyle($primary-color-dk)
  }
}

.apm-component{
  color: $secondary-color;

  &.see-details{
    @include seeDetail();
    @include hoverStyle($secondary-color)
  }
}

.management-component{
  color: $teritary-color;

  &.see-details{
    @include seeDetail();
    @include hoverStyle($teritary-color)
  }
}

.text{
  font-size: 16px;
  margin-bottom: 6px;
}
.price{
  font-size: 48px;
  margin-bottom: 16px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}
.small{
  font-size: 14px;
  margin-bottom: 18px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}
.description{
  font-size: 16px;
  margin-bottom: 18px;
  @media(max-width: 1320px){
    margin-bottom: 15px;
  }
  @media(max-width: 1247px){
    margin-bottom: 8px;
  }
}

.price-arrow{
  border-right: solid black;
  border-bottom: solid black;
  width: 20px;
  height: 20px;
  text-align: center;
  transform: rotate(45deg); 
  transition: all .25s;
}