.small-row-middle{
  height: $small-row-middle-height;
  @media(max-width: 992px){
    height: auto;
  }
}
.medium-carousel-feature-row{
  height: 615px;
  @media(max-width: 992px){
    height: auto;
  }
}
.large-row-middle{
  height: $large-row-middle-height;
  @media(max-width: 992px){
    height: auto;
    margin-bottom: 30px;
  }
}
.large-customer-feature-row{
  height: 774px;
  @media(max-width: 992px){
    height: auto;
  }
}
.row-padding{
  padding: 15px;
}