$primary-color: rgba(114,78,239,1);
$primary-color-dk: rgba(43,42,167,1);
$secondary-color: rgba(20,208,113,1);
$teritary-color:rgba(255,99,90,1);

$pricing-bg-color: rgb(245,245,245);
$price-hover-color: #979797;

$footer-color: #B6B6B6;
$footer-bg-gradient: linear-gradient(#443E48, #110617);

$main-top-height: 515px;
$small-row-middle-height: 309px;
$large-row-middle-height: 1165px;

// adding custom bg-color themes to the Sass theme-color map
$theme-colors: (
  "infrastructure": $primary-color-dk,
  "apm":$secondary-color,
  "logs": $teritary-color
);